
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
  margin:0px;
  background-color: #fff;
}

.brand-logo {font-family: 'Raleway', sans-serif;font-weight: 800;color: #000!important;text-transform: uppercase;font-size: 16px!important;letter-spacing: 4px;margin-left: 25px;}

nav {background-color: #fff;}

nav li a {font-family: 'Raleway', sans-serif;font-weight: 600;color: #000!important;text-transform: uppercase;font-size: 12px!important;letter-spacing: 2px;margin-left: 25px;}

nav ul {margin-right: 20px;}