
@import url('https://fonts.googleapis.com/css?family=Raleway:600,800&display=swap');


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
  margin:0px;
  background-color:#efefef;
}

.container {max-width: 95%!important;max-width:none!important;}

/* .container.smallnav {max-width: 1100px!important;} */

/*NAV*/

.brand-logo {font-family: 'Raleway', sans-serif;font-weight: 800;color: #000!important;text-transform: uppercase;font-size: 14px!important;letter-spacing: 4px;}

nav {background-color: #fff;padding: 0px 40px;}

/* .nav-container-small {max-width: 1100px!important;} */


nav a {color: #000!important;}

nav li a {font-family: 'Raleway', sans-serif;font-weight: 600;color: #000!important;text-transform: uppercase;font-size: 12px!important;letter-spacing: 2px;}

nav ul {margin-right: 20px;}

.sidenav {padding-top: 20px;}

.sidenav li a {font-family: 'Raleway', sans-serif;font-weight: 600;color: #000!important;text-transform: uppercase;font-size: 12px!important;letter-spacing: 2px;}


/*NAV*/


.container.experiences {text-align: center;max-width: 1000px!important;margin-top: 100px;margin-bottom: 40px;}

/* .container.experiences .col.s4 {background-color: black;} */
/* 
.row .col {padding: 0 1.75rem!important;}

.container.experiences .box {background-color: red!important;min-height: 300px;} */

.wrapper-two {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-gap: 40px;
  /* background-color: #fff; */
  color: #444;
}

.box {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  min-height: 150px;
  vertical-align: middle;
  line-height: 150px;
}

.box {
  background-color: background: rgba(29,63,123,1);
  background: -moz-linear-gradient(left, rgba(29,63,123,1) 0%, rgba(139,15,158,0.83) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,63,123,1)), color-stop(100%, rgba(139,15,158,0.83)));
  background: -webkit-linear-gradient(left, rgba(29,63,123,1) 0%, rgba(139,15,158,0.83) 100%);
  background: -o-linear-gradient(left, rgba(29,63,123,1) 0%, rgba(139,15,158,0.83) 100%);
  background: -ms-linear-gradient(left, rgba(29,63,123,1) 0%, rgba(139,15,158,0.83) 100%);
  background: linear-gradient(to right, rgba(29,63,123,1) 0%, rgba(139,15,158,0.83) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d3f7b', endColorstr='#8b0f9e', GradientType=1 );

  -webkit-box-shadow: 5px 6px 9px 0px rgba(158,158,158,1);
  -moz-box-shadow: 5px 6px 9px 0px rgba(158,158,158,1);
  box-shadow: 5px 6px 9px 0px rgba(158,158,158,1);



}

.wrapper-two .box {color: #fff;text-transform: uppercase;font-family: 'Raleway', sans-serif;font-size: 12px;font-weight: 600;letter-spacing: 3px;}


.wrapper-two .box.three {
  background: rgb(34,73,112);
background: -moz-linear-gradient(90deg, rgba(34,73,112,1) 0%, rgba(116,187,187,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(34,73,112,1) 0%, rgba(116,187,187,1) 100%);
background: linear-gradient(90deg, rgba(34,73,112,1) 0%, rgba(116,187,187,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#224970",endColorstr="#74bbbb",GradientType=1);
  
}



@media only screen and (max-width: 1100px) {
  .wrapper-two {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
    /* background-color: #fff; */
    color: #444;
  }

  .container.experiences {margin-top: 50px;max-width:80%!important;}




}


@media only screen and (max-width: 1000px) {
  
  nav {padding: 0px 10px;}

}

@media only screen and (max-width: 700px) {
  .wrapper-two {
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 20px;
    /* background-color: #fff; */
    color: #444;
  }

  .brand-logo {font-family: 'Raleway', sans-serif;font-weight: 800;color: #000!important;text-transform: uppercase;font-size: 10px!important;letter-spacing: 3px;}

}